google-generativeai>=0.5.2
langchain-google-genai>=1.0.3
langgraph>=0.0.38
langchain>=0.1.10
langchain-core>=0.1.52
langfuse>=2.29.0
duckduckgo-search>=5.3.1
docker>=7.0.0
chromadb>=0.4.24,<1.0
numpy<2.0
SpeechRecognition>=3.10.3
pyaudio>=0.2.14
openai-whisper>=20231117
langchain-groq
edge-tts>=6.1.9
python-dotenv>=1.0.1
soundfile>=0.12.1
sounddevice>=0.4.6
chainlit>=1.1.0
fpdf2>=2.7.9
